html, body, #map {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.leaflet-sidebar {
  z-index: 1020;
}

.leaflet-sidebar > .leaflet-control {
  padding: 0px;
}

.leaflet-sidebar .close {
  display: none;
}

.leaflet-control {
    float: none !important;
}
.leaflet-control-attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 !important;
}

.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-group-name {
  font-weight: bold;
  margin-bottom: .2em;
  display: block;
}
.leaflet-control-layers-group {
  margin-bottom: .5em;
}
.leaflet-control-layers-group label {
  padding-left: .5em;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}
.leaflet-bottom.leaflet-right .leaflet-control {
    margin-bottom: 20px;
}

div.leaflet-top.leaflet-left > *, div.leaflet-bottom.leaflet-left > *, div.leaflet-bottom.leaflet-right > * {
    display: inline-block;
}
div.leaflet-top.leaflet-left > *, div.leaflet-bottom.leaflet-right > * {
    vertical-align: middle;
}
div.leaflet-bottom.leaflet-left > * {
    vertical-align: bottom;
}

.table {
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: white;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}

#menu,p{
  margin:0px;
  padding:0px;
  top:0px;
  position:absolute;
  background-color:green;
  width:100%;
  height:50px;
}

#buttons > * {
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.fb-like {
    bottom: 6px;
}
#___plusone_0 {
    position: relative;
    bottom: 2px;
}

.info {
	padding: 6px 8px;
	font: 12px/14px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 350px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
.info a.ssb img, .info a.dnl img, .info a#close-cross img {
    width: 20px;
}

#logo {
    height: 55px;
}
.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.menu-ui {
	background:#fff;
	border-radius:3px;
	width:70px;
	border:1px solid rgba(0,0,0,0.4);
}
.menu-ui a {
	font-size:13px;
	font: 13px Arial, Helvetica, sans-serif;
	color:#404040;
	display:block;
	margin:0;padding:0;
	padding:2px;
	text-decoration:none;
	border-bottom:1px solid rgba(0,0,0,0.25);
	text-align:center;
}
.menu-ui a.disabled {
    color: #b0b0b0;
    cursor: default;
}
.menu-ui a:first-child {
	border-radius:3px 3px 0 0;
}
.menu-ui a:last-child {
	border:none;
	border-radius:0 0 3px 3px;
}
.menu-ui a:hover {
	background:#f8f8f8;
	color:#404040;
}
.menu-ui a.disabled:hover {
	background:#fff;
    color: #b0b0b0;
}
.menu-ui a.active {
	background:#3887BE;
	color:#FFF;
}
.menu-ui a.active:hover {
	background:#3074a4;
}
.rossobc{
	color: #EB593C;
}	
